<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CUPCAKES</title>
  <link rel="stylesheet" href="/static/app.css">
</head>
<body>

<h1>CUPCAKES ARE HERE!</h1>

<ul id="cupcakes-list">

</ul>

<h2> Add New Cupcake</h2>

<form id="new-cupcake-form">
  <div>
    <label for="form-flavor">The Flavor: </label>
    <input id="form-flavor" name="flavor">
  </div>

  <div>
    <label for="form-size">The Size!: </label>
    <input name="size" id="form-size">
  </div>

  <div>
    <label for="form-rating">Taste Rating: </label>
    <input type="number" name="rating" id="form-rating">
  </div>

  <div>
    <label for="form-image">Got a Pic?: </label>
    <input name="image" id="form-image">
  </div>

  <button>Add New Cupcake</button>
</form>

</form>

</body>
</html>
